@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=IM+Fell+English+SC&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Metal+Mania&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Noto Sans", sans-serif;
}

header {
  font-style: italic;
  background-color: #0C151D;
  color: #ACA28D;
}

h1 {
  font-family: "Metal Mania", system-ui;
}

h2, h3, h4, h5, h6, .accordion-button {
  font-family: "IM Fell Englesh SC", serif;
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: 10px 5px 10px rgba(82, 38, 35, 0.5);
}

.navbar {
  background-color: #0C151D;
  --bs-navbar-color: #ACA28D;
  --bs-navbar-active-color: yellow;
  --bs-navbar-hover-color: cyan;
  padding: 0;
  margin: 0;
  border: 0;
}

.banner-imagenes {
  width: 25%;
  height: 300px;
  object-fit: cover;
  display: inline;
}

.seccion-banner {
  width: 100%;
  font-size: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #0C151D;
  color: #ACA28D;
  text-align: center;
  justify-content: center;
}

footer .img-fluid {
  max-width: 150px;
}

footer p {
  font-style: italic;
  background-color: black;
}

.img-fluid {
  max-width: 100%;
}

.banner-index {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.imagen-bienvenida {
  width: 100%;
  max-width: 600px;
  height: 300px;
  object-fit: cover;
  display: block;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.carrusel-clases {
  max-width: 600px;
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
}

.index-div-texto {
  max-width: 600px;
  color: #ACA28D;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
}

.fondo-londres {
  min-height: 30vh;
  background: linear-gradient(to bottom, #0C151D 0%, #0C151D 20%, #2A374D 50%, rgba(42, 55, 77, 0.8) 100%), url(../asset/horizons_bridge.png);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, auto 50%;
  background-position: center, bottom center;
}

.fondo-quidditch {
  min-height: 30vh;
  background: linear-gradient(to bottom, #0C151D 0%, #0C151D 20%, #2A374D 50%, rgba(42, 55, 77, 0.8) 100%), url(../asset/horizons_quidditch.png);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, auto 50%;
  background-position: center, bottom left;
}

.fondo-hogwarts {
  min-height: 30vh;
  background: linear-gradient(to bottom, #0C151D 0%, #0C151D 20%, #2A374D 50%, rgba(42, 55, 77, 0.8) 100%), url(../asset/horizons_village.png);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, auto 50%;
  background-position: center, bottom center;
}

@media (max-width: 992px) {
  .fondo-londres, .fondo-quidditch, .fondo-hogwarts {
    background-size: cover, auto 10%;
  }
}
.accordion {
  max-width: 600px;
  margin: 0 auto;
  --bs-accordion-border-color: #2A374D;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #828DA8;
}

.accordion-button {
  background-color: #0C151D;
  color: #ACA28D;
  font-weight: bold;
}

.accordion-body {
  background-color: #2A374D;
  color: #ACA28D;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.7);
}

.accordion-button:not(.collapsed) {
  background-color: #0C151D;
  color: #ACA28D;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

.fondo-asignaturas {
  background-image: url(../asset/logo-fondo.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: #2A374D;
}

@media (max-width: 768px) {
  .fondo-asignaturas {
    background-size: contain;
    background-repeat: repeat;
  }
}
.materias-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 20px;
  justify-content: center;
  align-items: stretch;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 5px;
}

article h3 {
  height: 70px;
  text-align: center;
  margin: 0;
  align-items: center;
  display: flex;
}

article div {
  flex-grow: 1;
}

article p {
  padding-left: 15px;
  padding-bottom: 10px;
}

.conocer {
  background-color: whitesmoke;
  font-weight: bold;
  color: #2A374D;
  padding: 5px;
  width: 120px;
}

.inscribirse {
  background-color: #2A374D;
  font-weight: bold;
  color: whitesmoke;
  padding: 5px;
  width: 120px;
}

.div-casas {
  max-width: 800px;
}

.fondo-casas {
  background-color: #ACA28D;
  color: #2A374D;
}

.marcador-casas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carta {
  position: relative;
  width: 300px;
  transition: transform 0.3s;
}

.carta + .carta {
  margin-left: -100px;
}

.carta img {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.carta:hover {
  z-index: 10;
  transform: scale(1.08);
}

.puntaje {
  position: absolute;
  top: 40%;
  left: 15px;
  font-size: clamp(18px, 4vw, 42px);
  font-weight: bold;
  color: #ACA28D;
  text-shadow: 0 0 10px #0C151D;
}

.contacto {
  background-color: #2A374D;
  color: white;
}

.contacto div {
  max-width: 600px;
}

form {
  background-color: #0C151D;
}

.lechuza {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.7);
}

/*# sourceMappingURL=main.css.map */
