@use "variables" as*;

.fondo-asignaturas{
    background-image: url(../asset/logo-fondo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: $color-suave;
}
@media (max-width: 768px) {
    .fondo-asignaturas {
        background-size: contain;
        background-repeat: repeat;
    }
}
.materias-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding: 20px;
    justify-content: center;
    align-items: stretch;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 5px;
}
article h3{
    height: 70px;
    text-align: center;
    margin: 0;
    align-items: center;
    display: flex;
}
article div{
    flex-grow: 1;
}
article p{
    padding-left: 15px;
    padding-bottom: 10px;
}
.conocer{
    background-color: white;
    font-weight: bold;
    color: #2F4F4F;
    padding: 5px;
    width: 120px;
}
.inscribirse{
    background-color: #2F4F4F;
    font-weight: bold;
    color: white;
    padding: 5px;
    width: 120px;
}


