@use "variables" as*;

.contacto{
    background-color: $color-suave;
    color: white;
}

.contacto div {
    max-width: 600px;
}

form{
    background-color: $color-intenso;
}

.lechuza{
    box-shadow: 0px 2px 20px rgba(0,0,0,0.7);;
}

