@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=IM+Fell+English+SC&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Metal+Mania&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$fuente-header: "Metal Mania", system-ui;
$fuente-titulos: "IM Fell Englesh SC", serif;
$fuente-textos: "Noto Sans", sans-serif;

$color-intenso: #0C151D;
$color-suave: #2A374D;
$color-claro: #ACA28D;
$color-detalles: #522623;
$color-hover: yellow;
$color-focus: green;
$color-active: hotpink;



