@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e2d9c3;
    color: #4b4a4a;
    font-family: "Noto Sans", sans-serif;
}
header{
    font-style: italic;
    display: flex;
    justify-content: space-between;
    background-color: #0c151d;
    color: #aca28d;
}
.navbar{
    background-color: #0c151d;
    --bs-navbar-active-color: hotpink;
    --bs-navbar-hover-color: yellow;
    --bs-navbar-color: #aca28d;
}
p{
    margin: 0;
}
footer{
    background-color: #0c151d;
    font-family: "Noto Sans", sans-serif;
}
.piefinal{
    width: 100%;
    font-style: italic;
    background-color: black;
    margin: 0;
}
.ancho-carrusel{
    width: 300px;
}
.ancho-clases{
    max-width: 600px;
    margin: 0;
}
.materias-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding: 20px;
    justify-content: center;
    align-items: stretch;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 5px;
}
article h3{
    height: 70px;
    text-align: center;
    margin: 0;
    align-items: center;
    display: flex;
}
article div{
    flex-grow: 1;
}
article p{
    padding-left: 15px;
    padding-bottom: 10px;
}
.casasflex{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    padding: 5px;
}
.conocer{
    background-color: white;
    font-weight: bold;
    color: #2F4F4F;
    padding: 5px;
    width: 120px;
}
.inscribirse{
    background-color: #2F4F4F;
    font-weight: bold;
    color: white;
    padding: 5px;
    width: 120px;
}
.contacto{
    background-color: #2F4F4F;
    color: white;
}
form{
    background-color: #182b2b;
}
.mascontactos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
}
.foto{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}
.card-img-top {
    height: 350px;
    object-fit: cover;
}
.fondo-card{
    background-color: #aca28d;
}
.mini-logo{
    width: 100px;
}
.mi-ancho{
    max-width: 500px;
}
.img-logo{
    width: 100%;
}
.fondo-section-a{
    min-height: 50vh;
    background: linear-gradient(to bottom, #0d131a 0%, #0d131a 20%, #182b2bcc 100%), url(../asset/horizons_village.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, auto 50%;
    background-position: center, bottom center;
}
.fondo-section-b{
    background: linear-gradient(to bottom, #172425 0%, #182b2b 40%, #cad2e7 100%);
}
.fondo-section-c{
    background-image: url(../asset/background-l.jpg);
}
.div-index{
    background-color: #0c151d;
    color: #aca28d;
    padding: 20px;
}
@media (max-width: 768px) {
    .fondo-section-a {
        background-size: cover, auto 15%;
    }
}
.fondo-asignaturas{
    background-image: url(../asset/logo-fondo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
@media (max-width: 768px) {
    .fondo-asignaturas {
        background-size: contain;
        background-repeat: repeat;
    }
}
.div-casas{
    max-width: 600px;
    margin: 0 auto;
    background-color: #3e3f6067;
    border-radius: 10%;
    box-shadow: 0 100px 50px 5px rgba(0, 0, 0, 0.575);
}
.fondo-negro{
    background-color: #000000;
}
.fondo-casas{
    background: linear-gradient(to bottom, black, #1f2443);
}
.fondo-dragon{
    background: linear-gradient(to bottom, #080c30d3 20%, #090938b7 50%, #000000 100%), url(../asset/background-a.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, bottom center;
}
.fondo-dragon div{
    max-width: 600px;
    margin: 0 auto;
    color: rgb(177, 200, 226);
}
.accordion{
    max-width: 600px;
    margin: 0 auto;
    --bs-accordion-border-color: #aca28d;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem yellow;
}
.accordion-item{
    background-color: #182b2b;
    color: #aca28d;
}
.accordion-button{
    background-color: #0c151d;
    color: #aca28d;
}
.accordion-button:not(.collapsed){
    background-color: #0c151d;
    color: #aca28d;
}
.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon)
}

